<p style="color: green"><%= notice %></p>
<h1>Мои тесты</h1>
<div id="quizzes">
  <% @quizzes.each do |quiz| %>
    <%= render quiz %>
    <p>
      <%= link_to "Открыть", quiz %>
    </p>
  <% end %>
</div>
<%= link_to "Новый тест", new_quiz_path %>
