<h1>Новый тест</h1>
<div class="row">
  <div class="col-sm-6">
    <div id="form">
      <%= render "form", quiz: @quiz %>
    </div>
  </div>
</div>
<div class="row">
  <%= link_to "Вернуться к тестам", quizzes_path %>
</div>
