<div class="grid-co">
  <div class="grid-item"><%= link_to "Студент", new_student_registration_path, :class => "btn btn-primary" %></div>
  <div class="grid-item"><%= link_to "Преподаватель", new_mentor_registration_path, :class => "btn btn-primary" %></div>
</div>
