<h1>Q&A</h1>
<h2>Часто задаваемые вопросы</h2>
<h3>Не получат ли злоумышленники доступ к моим личным данным?</h3>
<p>Работа в системе безопасна. Все данные шифруются, а пароли хранятся в зашифрованном виде </p>
<h3>Как пользоваться системой?</h3>
<p>Вы можете ознакомиться с руководством пользователя</p>
<h3>Как я могу с вами связаться?</h3>
<p>Всегда можно написать на почту:</p>
<%= mail_to 'evseenkov.2003@mail.ru', "evseenkov.2003@mail.ru" %>
<p>Иван Евсеенков</p>
