<div class="row">
  <div class="col-sm-2">
    <%= link_to "Мои тесты", quizzes_path, class: "btn btn-outline-dark"%>
  </div>
  <div class="col-sm-2">
    <%= link_to "Учебные группы", "#", class: "btn btn-outline-dark"%>
  </div>
  <div class="col-sm-2">
    <%= link_to "Статистика", "#", class: "btn btn-outline-dark"%>
  </div>
</div>